$xl: 1240px;
$lg: 992px;
$md: 768px;
$sm: 480px;

$transition: 0.5s ease-in-out;

body {
	--color_bg: #d9d9d9;
	--color_text: #000;
	--color_text_bright: #fff;
	--color_main_bg: #416aa3;
	--color_form_bg: #f4f4f4;
	--input_bg: #fff;
	--input_bg_incorrect: rgb(238, 167, 167);
	--input_text: #222;
	--focus: #222;
}

body.dark {
	--color_bg: #383838;
	--color_text: #fff;
	--color_text_bright: #fff;
	--color_main_bg: #416aa3;
	--color_form_bg: #111;
	--input_bg: #000;
	--input_bg_incorrect: rgb(238, 167, 167);
	--input_text: #fff;
	--focus: #fff;
}
