.app {
	height: 100%;
	display: flex;
	flex-direction: column;

	.content_main {
		flex-grow: 1;
		background-image: linear-gradient(
				0deg,
				rgba(217, 217, 217, 0.85),
				rgba(217, 217, 217, 0.85)
			),
			url("./assets/images/bg_light.jpg");
		background-size: cover, cover;
		background-repeat: no-repeat no-repeat;
		background-size: cover;
		position: relative;
	}
}

body.dark {
	.content_main {
		flex-grow: 1;
		background-image: linear-gradient(
				0deg,
				rgba(56, 56, 56, 0.85),
				rgba(56, 56, 56, 0.85)
			),
			url("./assets/images/bg_dark.jpg");
		background-size: cover, cover;
		background-repeat: no-repeat no-repeat;
		background-size: cover;
		position: relative;
	}
}
